
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
span{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
   
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 51px;
}
.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 25px;
    border-radius: 5px;
    border: none;
   
}
.banner-content{
    font-size: 45px;
    font-weight: 600;
    max-width: 580px;
    
}
.banner-title{
    font-weight: bold;
    font-size: 85;
}
.banner-p{
    font-size: 18px;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
}
.banner-profile-pic{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 190px;
}
.header{
    background-image: url('../images/developer.png');
}